#mainColumn {
    height: 600px;
}

#loginInfo {
    border-radius: 10px;
}

/* #schoolKeyword {
    background-color: transparent;
    border: none;
    border-bottom: black 1px solid;
    border-radius: 0;
} */

.btn-search {
    display: block;
    margin: 10px 0;
    background-color: transparent;
    color: black;
    border: black 1px solid;
}

.btn-search:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
}